

:root{
    --clr-black:#1c1c1c;
    --clr-gray:#ececec;
    --clr-white:#f7f7f7;

    --type-normal:#a8a878;
    --type-fire:#f08030;
    --type-water:#6890f0;
    --type-grass:#78c850;
    --type-electric:#f8d030;
    --type-ice:#98d8d8;
    --type-fighting:#c03028;
    --type-poison:#a040a8;
    --type-ground:#e0c068;
    --type-flying:#a890f0;
    --type-psychic:#f85888;
    --type-bug:#a8b820;
    --type-rock:#b8a038;
    --type-ghost:#705898;
    --type-dark:#705848;
    --type-dragon:#7038f8;
    --type-steel:#b8b8d0;
    --type-fairy:#f0b6bc;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--clr-black);
    font-family: "Press Start 2P", system-ui, sans-serif;
}

ul{
    list-style-type: none;
}

button{
    background-color: transparent;
    border: none;
    border-radius: 0;
}
.normal{
    background-color: var(--type-normal);
    color: var(--clr-black);
}
.fire{
    background-color: var(--type-fire);
    color: var(--clr-black);
}
.water{
    background-color: var(--type-water);
    color: var(--clr-white);
}
.grass{
    background-color: var(--type-grass);
    color: var(--clr-black);
}
.electric{
    background-color: var(--type-electric);
    color: var(--clr-black);
}
.ice{
    background-color: var(--type-ice);
    color: var(--clr-black);
}
.fighting{
    background-color: var(--type-fighting);
    color: var(--clr-white);
}
.poison{
    background-color: var(--type-poison);
    color: var(--clr-white);
}
.ground{
    background-color: var(--type-ground);
    color: var(--clr-black);
}
.flying{
    background-color: var(--type-flying);
    color: var(--clr-black);
}
.psychic{
    background-color: var(--type-psychic);
    color: var(--clr-black);
}
.bug{
    background-color: var(--type-bug);
    color: var(--clr-black);
}
.rock{
    background-color: var(--type-rock);
    color: var(--clr-black);
}
.ghost{
    background-color: var(--type-ghost);
    color: var(--clr-white);
}
.dark{
    background-color: var(--type-dark);
    color: var(--clr-white);
}
.dragon{
    background-color: var(--type-dragon);
    color: var(--clr-white);
}
.steel{
    background-color: var(--type-steel);
    color: var(--clr-black);
}
.fairy{
    background-color: var(--type-fairy);
    color: var(--clr-black);
}


body{
    min-height: 100vh;
    background-color: var(--clr-gray);
}
header{
    padding-block: 1rem;
    padding-inline: 1rem;
    margin-bottom:2rem ;
    box-shadow: 0 0 1rem rgba(0,0,0,.25);
    display: flex;
    width: 100%;
    
}
.nav{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.nav img{
    width: 100px;
}

.navList{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: .5rem;
}



.btnHeader{
    padding: 0.5rem;
    border-radius: 100vmax;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0 0 1rem rgba(0,0,0,.25);
    transition: all .2s;
}
.btnHeader:hover{
    transform: scale(1.1);
    box-shadow: 0 0 1rem rgba(0,0,0,.25);
}

main{
    padding: 1rem;
    text-transform: uppercase;
}

.pokemonList{
    display: grid;
    grid-template-columns: 1fr;
    gap: 14px;
    box-sizing: border-box;
    
}

.pokemon{
    border-radius: 1rem;
    background-color: var(--clr-white);
    box-shadow: 0 0 3rem -1rem rgba(0,0,0,.25);
    padding: 0 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    isolation: isolate;
    overflow: hidden;

}
.pokemonIdBack{
    z-index: -1;
    position: relative;
    top: 80px;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: var(--clr-gray);
}


.pokemonImg img{
    width: 100%;
    max-width: 8rem;
}
.pokemonInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.nombreContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.pokemonId{
    font-size: 12px;
    padding: 6px;
    border-radius: 1rem;
    background-color: var(--clr-gray);
}
.pokemonName{
    font-size: 16px;
    
}
.pokemonType{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    
}
.type{
    font-size: 11px;
    padding: 5px;
    border-radius: 1rem;
}

.pokemonStats{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.stats{
    background-color: var(--clr-gray);
    border-radius: 1rem;
    padding: 5px;
    font-size: 11px; 
}


@media screen and (min-width: 480px){

    .pokemonList{
        grid-template-columns: repeat(2, minmax(160px,1fr));
    }
}

@media screen and (min-width: 768px){

    

    .pokemonList{
    display: grid;
    grid-template-columns: repeat(3, minmax(160px,1fr));
    gap: 14px;
    }


}

@media screen and (min-width: 1024px){
    main{
        max-width: 1000px;
        margin-inline: auto;
    }
    .pokemonList{
        grid-template-columns: repeat(4, minmax(160px,1fr));
    
    }
}

@media screen and (min-width: 1500px){
    main{
        max-width: 1300px;
        margin-inline: auto;
    }
    .pokemonList{
        grid-template-columns: repeat(5, minmax(160px,1fr));
    }
}

